* {
	font-family: sans-serif;
	width: 43rem;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

body {
	font-family: Arial, sans-serif;
	width: auto;
	margin: 0;
	padding: 0;
}

h3 {
	color: rgb(255, 255, 255);
	font-weight: 1000;
	font-size: 38px;
	line-height: 2;
	padding: 30px 10px 0px 0px;
}

p {
	color: rgba(0, 94, 246, 0.778);
	font-weight: 800;
	font-size: 30px;
	line-height: 2;
	padding: 30px 10px 0px 0px;
    text-align: left;
}

.StyleDome{
	height: 188px; 
	width: 100%; 
	padding: 0;
	margin: 0;
	background-color: blueviolet;
}