/* 移动端样式 */
* {
	font-family: 等线, sans-serif;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	height:auto;
}

body {
	font-family: Arial, sans-serif;
	width: auto;
	margin: 0;
	padding: 0;
}


.container {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
}

.header {
	/*广告位*/
	height: 8rem;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0px solid seashell;
	display: flex;
	justify-content: center;
	align-items: center;
}


.nav {
	height: 3rem;
	width: 100%;
	border: 0px solid seashell;
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	margin-bottom: 20px;
	padding: 66px 30px;
	font-size: 30px;
}

.nav a {
	text-decoration: none;
	margin: 10px;
	color: #333;
	font-weight: bold;
	padding: 66px 30px;
}

.content {
	padding: 0;
}

.footer {
	text-align: center;
	padding: 10px;
	font-size: 14px;
}

.iframe {
	width: 100%;
	height: 27rem;
}

.DIVimg {
	width: 58rem;
	height: 33rem;
	border: 0px solid seashell;
	display: flex;
	justify-content: center;
	align-items: center;
}

.WebApp {
	width: 100%;
	height: 700px;
	border: 0;
}

.powerST {
	font-size: 12px;
	color: rgb(20, 19, 19);
	font-weight: 500;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.DIVPower {
	width: 100%;
	height: 60px;
	border: 0px solid seashell;
	display: flex;
	justify-content: center;
	align-items: center;

}

.butter1 {
	width: 9rem;
	height: 3rem;
	margin: auto;
	padding: auto;
	border: 1px solid rebeccapurple;
}

.H3ST {
	/* 取消继承*的pad mang属性，目前用途于底部超链接 */
	padding: 5px 0;
	margin: 0;
	border: 0;
	text-align: center;
}

.H3STB {
	/* 取消继承*的pad mang属性，目前用途于标题栏字体 */
	padding: 30px 10px;
	margin: 30px;
	border: 0;
	text-align: center;
}

.hrefURL {
	border: 0px solid red;
	width: 100%;
	height: auto;
	box-sizing: border-box;

}

a {
	text-decoration: none;
	color: white;
	padding: auto;
	margin: auto;
	text-align: center;
}

/* 分割线  下面是老版本css样式 */
.JUNLINTIANXIA{
	color: darkred;
	font-weight: 800;
	font-size: 88px;
	padding: 30px 10px 0px 0px;
}

h1 {
	color: darkred;
	font-weight: 800;
	font-size: 30px;
	padding: 30px 10px 0px 0px;
}

h2 {
	color: rgb(8, 8, 8);
	font-weight: 600;
	font-size: 28x;
	padding: 30px 10px 0px 0px;
}

h3 {
	color: rgb(8, 8, 8);
	font-weight: 600;
	font-size: 24x;
	padding: 30px 10px 0px 0px;
}

h3 {
	color: rgb(10, 10, 10);
	font-weight: 600;
	font-size: 21x;
	padding: 30px 10px 0px 0px;
}

h5 {
	color: rgb(21, 21, 21);
	font-weight: 400;
	font-size: 18px;
	line-height: 2;
	padding: 30px 10px 0px 0px;
}

h6 {
	color: rgb(65, 177, 91);
	font-weight: 400;
	font-size: 13px;
	padding: 30px 10px 0px 0px;
}

/*照片墙*/
.container {
	width: auto;
	height: auto;
	margin: 0px;
	position: relative;
}

.container img {
	padding: 0px;
	background: white;
	border: 1% solid #ddd;
	box-shadow: 3% rgba(50, 50, 50, 0.6);
}

.pic {
	width: 44%;
	margin-right: 2%;
}
/* 超链字体 */
.rainbow-hover {
  font-size: 16px;
  font-weight: 700;
  color: #ff7576;
  background-color: #2B3044;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 24px;
  position: relative;
  line-height: 25px;
  border-radius: 9px;
  box-shadow: 0px 1px 2px #2B3044,
    0px 4px 16px #2B3044;
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px)
    rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.sp {
  background: linear-gradient(
      90deg,
      #866ee7,
      #ea60da,
      #ed8f57,
      #fbd41d,
      #2cca91
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
}

.rainbow-hover:active {
  transition: 0.3s;
  transform: scale(0.93);
}
